/* Estilos existentes para el encabezado y las migas de pan */
header {
  background-image: linear-gradient(180deg, #6de8ed 10%, #ebe3d9 90%);
  border-radius: 5px;
  color: #000000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}



/* buscador */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.search-container {
  flex-grow: 1;
  margin: 0 20px;
  max-width: 400px;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: #ffffff8c;
  border: 1px solid #ffffff8c;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 6px;
  width: 100%;
  background-color: #ffffff00; 

}

.search-button {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 6px;
  transition: color 0.3s;
}

.search-button:hover {
  color: #007BFF;
}
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px;
  transition: opacity 0.5s;
  transition: transform 0.3s ease;
}

.search-icon {
  height: 40px; /* Ajusta la altura según el tamaño deseado */
  width: auto; /* Mantiene la relación de aspecto de la imagen */
  transition: transform 0.3s ease;
}

.search-button:hover {
  opacity: 0.9; /* Reduce ligeramente la opacidad al pasar el mouse por encima */
}
.search-button:hover .search-icon {
  transform: scale(1.2); /* Aumenta el tamaño de la imagen en un 20% */
}

/* Estilos nuevos para la tarjeta */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin-top: 20px;
}

.img-detail {
  height: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-custom {
  background-color: #6de8ed;
  color: #000000;
  border: none;
}

.btn-custom:hover {
  background-color: #ebe3d9;
}

.logo {
  margin-right: 20px;
}
.header-icons {
  margin-right: 59px; /* Agrega un margen a la izquierda para mover el icono hacia la derecha */
}

.header-icons a {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.header-icons .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-icons img {
  transition: transform 0.3s ease;
}

.header-icons span {
  font-size: 14px;
}

.header-icons a:hover img {
  transform: scale(1.1);
}



.bread-icons a {
  margin-top: 5px;
  margin-left: 20px;
  display: inline-block;
  margin-right: 10px;
  text-align: center; /* Alinea el texto al centro */
  color: #000000; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
}

.bread-icons .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea los íconos y el texto al centro verticalmente */
}

.bread-icons img {
  transition: transform 0.3s ease;
}

.bread-icons span {
  font-size: 14px;
}

.bread-icons a:hover img {
  transform: scale(1.1);
}
.action button:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el ratón sobre el botón */
  transition: transform 0.3s ease-in-out;
}